<h1>Form to create new playlist</h1>

<form action='/playlist' method='post'>
  <label>
    Movie Name
    <input type="text" name="name" value="">
  </label>

  <label for="priority">Priority level</label>
  <input id='priority' type="text" name="priority" value="">

  <button type="submit" name="button">Create</button>
</form>

{{!--Render all playlist data--}}
<ul>
  {{#each playlists as |playlist|}}
  <li>
    {{playlist.name}}
    {{playlist.priority}}
  </li>
  {{/each}}
</ul>
